.about-buttons {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px 32px 0 32px;
  transition: 0s 180s;
}
.about-buttons button {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  font-family: Rubik;
  font-weight: 700;
  font-size: 12px;
  border-radius: 10px;
  border-style: none;
  background-color: white;
  box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
  padding: 12px 20px;
}
.about-buttons button p {
  font-family: Rubik;
  padding: 4px 6px;
  margin: 0;
  border-radius: 4px;
  font-size: 10px;
  color: white;
}
.about-buttons button h4 {
  margin: 0;
}
.st-about-btn p {
  background-color: #469b38;
}
.st-about-btn h4 {
  color: #469b38;
}
.nd-about-btn p {
  background-color: #fe9e69;
}
.nd-about-btn h4 {
  color: #fe9e69;
}
.rd-about-btn p {
  background-color: #2ea0b9;
}
.rd-about-btn h4 {
  color: #2ea0b9;
}
.th-about-btn p {
  background-color: #ed3b3b;
}
.th-about-btn h4 {
  color: #ed3b3b;
}

.about-informations {
  margin: 24px 16px 0 16px;
  border-radius: 10px;
  padding: 24px 36px;

  font-family: Satoshi;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 24px;

  background-color: white;
  box-shadow: 0px 0px 4px -2px rgb(114, 114, 114) inset;
}
.about-informations span {
  font-weight: 600;
}
/* Mobile S */
@media (min-width: 320px) and (max-width: 375px) {
  .about-buttons {
    margin: 20px 16px 0 16px;
  }
  .additional-txt {
    display: none;
  }
}
/* Mobile M */
@media (min-width: 375px) and (max-width: 425px) {
  .about-buttons {
    margin: 20px 16px 0 16px;
  }
  .additional-txt {
    display: none;
  }
}
/* Mobile L */
@media (min-width: 425px) and (max-width: 525px) {
  .about-buttons button {
    font-size: 14px;
    padding: 16px 20px;
  }
  .additional-txt {
    display: none;
  }
  .about-informations {
    font-size: 16px;
  }
}

/* Tablets */
@media (min-width: 525px) and (max-width: 768px) {
  .about-buttons {
    margin: 20px 16px 0 16px;
  }
  .about-buttons button {
    font-size: 14px;
    padding: 16px 20px;
  }
  .about-informations {
    font-size: 18px;
  }
}
/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-buttons {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-buttons button {
    font-size: 16px;
    padding: 20px 20px;
  }
}
/* Desktop */
@media (min-width: 1025px) {
  .about-buttons {
    grid-template-columns: repeat(4, 1fr);
  }
  .about-buttons button {
    font-size: 18px;
    padding: 20px 20px;
  }
  .about-informations {
    margin: 24px 32px 0 32px;
    font-size: 20px;
    padding: 28px 68px;
  }
}
