@font-face {
  font-family: "GilroyBold";
  src: url("https://glassto.github.io/scoalarutiera/public/fonts/gilroy-extrabold-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilroyLight";
  src: url("https://glassto.github.io/scoalarutiera/public/fonts/gilroy-light-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
