@font-face {
  font-family: "Mici";
  src: url("http://127.0.0.1:5500/public/fonts/gilroy-extrabold-webfont.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GilroyLight";
  src: url("gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
