body {
  background-color: rgba(250, 250, 250, 1);
  padding-left: 210px;
  padding-right: 210px;
  margin-bottom: 0;
}

@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: TT Norms;
  src: url("fonts/TTNorms-ExtraBold.ttf");
}
@font-face {
  font-family: Satoshi;
  font-weight: 400;
  src: url("fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: Satoshi;
  font-weight: 500;
  src: url("fonts/Satoshi-Medium.otf");
}
@font-face {
  font-family: Satoshi;
  font-weight: 700;
  src: url("fonts/Satoshi-Bold.ttf");
}
