


.background {
  display: flex;
  height: 280px;
  margin-top: 36px;
  padding: 40px 48px;

  background-color: white;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  border-radius: 14px;
}
.intro-informations {
  display: inline-block;
  width: 320px;
  margin: 0;
}
.intro-image {
  display: inline-block;
  margin-left: 138px;
  margin-top: 38px;
}
.text {
  display: inline-block;
  width: 320px;
  margin: 0;
}

.intro-title {
  margin: 0;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: rgba(23, 41, 45, 1);
}
.intro-subtitle {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 50px;

  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: rgba(23, 41, 45, 1);
}
.intro-buttons {
  display: flex;
  justify-content: space-between;
}
.intro-signup-button {
  padding: 16px 34px;

  border-style: solid;
  border-color: white;
  background-color: rgba(250, 250, 250, 1);
  box-shadow: inset 0px 0px 6px -2px rgba(0, 0, 0, 0.4);
  border-radius: 14px;

  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(23, 41, 45, 1);
}
.intro-login-button {
  padding: 14px 30px;

  border-style: solid;
  border-color: white;
  background-color: rgba(23, 41, 45, 1);
  border-radius: 14px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: white;
}
.car-image {
  width: 389px;
  height: 188px;
}
