


.navbar {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  margin-top: 26px;
}

.logo {
  display: flex;
  align-items: top;
}
.steering-wheel-img {
  margin-left: 20px;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  transform: rotate(-15deg);

  transition: transform 0.4s;
}
.logo-text {
  margin: 0;
  font-family: TT Norms;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: rgba(23, 41, 45, 1);
  line-height: 28px;
}

.butoane {
  display: flex;
  flex-shrink: 0;
  width: 330px;
}
.home-button,
.blog-button,
.contact-button {
  width: 94px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  padding: 3px 28px;
  gap: 10px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 10px;
  background-color: rgba(251, 211, 189, 0.3);
}
.blog-button {
  padding: 3px 30px;
}
.contact-button {
  padding: 3px 21px;
}

.home-text,
.blog-text,
.contact-text {
  width: 38px;
  height: 18px;
  margin: 0;

  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(23, 41, 45, 1);
}

.account {
  display: flex;
  justify-content: end;
  flex: 2;
}
.signup-button {
  width: 120px;
  height: 48px;
  margin-right: 20px;
  border-style: solid;
  border-radius: 14px;
  border-color: transparent;
  background-color: transparent;
}
.signup-text {
  margin: 0;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
}
.login-button {
  width: 141px;
  height: 48px;
  border-style: solid;
  border-color: transparent;
  border-radius: 14px;
  background-color: rgba(23, 41, 45, 1);
}
.login-text {
  position: relative;
  margin: 0;
  text-align: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: rgba(250, 250, 250, 1);
}
