.steering-wheel-img:hover {
  transform: rotate(45deg);
}

.home-button:hover,
.blog-button:hover,
.contact-button:hover {
  cursor: pointer;
  background-color: rgba(251, 211, 189, 0.9);
}

.signup-text:hover {
  cursor: pointer;
  color: rgb(32, 60, 64);
}
.login-button:hover {
  cursor: pointer;
  background-color: rgb(27, 50, 54);
}
.intro-signup-button:hover {
  cursor: pointer;
  box-shadow: inset 0px 0px 4px -2px rgba(0, 0, 0, 0.4);
}
.intro-login-button:hover {
  cursor: pointer;
  background-color: rgb(27, 50, 54);
}
